<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="t1"
            xsi:type="File"
            fileName="log/${date:format=yyyyMMdd}.error.log"
            archiveFileName="log/error/{#}_error.txt"
            maxArchiveFiles="7"
            archiveEvery="Day"
            encoding="utf-8"
            layout="[${longdate}][${level}][${logger}]${newline}${stacktrace}${newline}${message}${newline}${exception}"></target>
    <target name="t2"
            xsi:type="File"
            fileName="log/${date:format=yyyyMMdd}.info.log"
            archiveFileName="log/info/{#}_info.txt"
            maxArchiveFiles="7"
            archiveEvery="Day"
            encoding="utf-8"
            layout="[${longdate}]${message}"></target>
    <target name="t3"
        xsi:type="File"
        fileName="log/${date:format=yyyyMMdd}.debug.log"
        layout="[${longdate}]${message}"
        archiveFileName="log/debug/{#}_debug.txt"
        archiveNumbering="Date"
        archiveDateFormat="dd-MM-yyyy"
        maxArchiveFiles="7"
        encoding="utf-8"
        archiveEvery="Day"/>
  </targets>
  <rules>
    <logger name="*" level="info" writeTo="t2" final="true"></logger>
    <logger name="*" level="error" writeTo="t1"></logger>
    <logger name="*" level="debug" writeTo="t3"></logger>

  </rules>
</nlog>